.task {
    display: flex;
    position: relative;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    /*border: 1px solid black;*/
    margin: 6px auto;
    text-align: left;
}

.taskContent {
    padding-left: 2px;
    height: 26px;
    width: 500px;
    border: none;
}